<section>
  <div class="logo">
    <img  class="logo__img" type="image" id="image" alt=""
    src="./../../../assets/images/logoLST.png">
  </div>
</section>

<section>
  <div class="container">
    <div class="navbar">
      <button class="navbar__items-color2">Home</button>
      <button class="navbar__items-color1">Presentation</button>
      <button class="navbar__items-color1">Share your talent</button>
      <button class="navbar__items-color1">Look for a talent</button>
      <button class="navbar__items-color1">How to monetize your talents</button>
      <button class="navbar__items-color1">Trends</button>
      <button class="navbar__items-color1">Our partners</button>
      <button class="navbar__items-color1">Contact us</button>
      <!--<button class="container-navbar__items-color2" >Panier</button>-->
      <input class="navbar__items-color2 navbar__panier" type="image" id="image" alt=""
          src="./../../assets/images/icone-panier.svg">
    </div>
  </div>
</section>


<section>
  <div class="container-banner">
    <img class="navbar__items-img" src="./../../../assets/images/banner2.jpg">
    <div class="container-banner-title">
      <h1>You may not know it yet but you are a talented person. Your family, your friends admire your know-how. You may wonder if other people could appreciate this talent?  </h1>
    </div>
  </div>
</section>

<section>
  <div class="container-banner-painting-title">
    <h2>Painting</h2>
  </div>
  <div class="container-banner-painting">
    <img class="container-banner-painting__img-left" src="./../../../assets/images/img-home-painting-1.jpg">
    <div class="container-banner-painting__scroll">
      <img class="container-banner-painting__img" src="./../../../assets/images/img-home-painting-2.jpg">
      <img class="container-banner-painting__img" src="./../../../assets/images/img-home-painting-3.jpg">
      <img class="container-banner-painting__img" src="./../../../assets/images/img-home-painting-4.jpg">
      <img class="container-banner-painting__img" src="./../../../assets/images/img-home-painting-5.jpg">
    </div>
  </div>
</section>

<section>
  <div class="container-banner-painting-title">
    <h2>Drawing</h2>
  </div>
  <div class="container-home-drawing-content">
    <div class="container-home-drawing-content__layout">
      <div class="container-banner-img-left">
        <img class="navbar__items-img" src="./../../../assets/images/img-home-drawing-1.jpg">
      </div>
      <div class="container-banner">
        <img class="navbar__items-img" src="./../../../assets/images/img-home-drawing-2.jpg">
      </div>
      <div class="container-banner">
        <img class="navbar__items-img" src="./../../../assets/images/img-home-drawing-3.jpg">
      </div>
      <div class="container-banner">
        <img class="navbar__items-img" src="./../../../assets/images/img-home-drawing-4.jpg">
      </div>
    </div>
  </div>


</section>

<section>
  <app-slider></app-slider>
</section>
